* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
header {
  background-color: #3dbeff;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
}
.logo>img{
  margin-top: 2em;
  margin-left: 2em;
}
ol {
  display: flex;
  list-style: none;
}
ol li {
  padding: 1rem;
  font-family: Barlow;
}
ol>li>a{
  color: #fff;
  text-decoration: none;
}
main {
  width: 100%;
}
.head {
  width: 100%;
  height: 60vh;
  margin: auto;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  background-color: #3dbeff;
  background-image: url("../images/desktop/image-header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
h1{
  font-family: 'Fraunces', serif;
}
.head>h1{
  padding-top: 5%;
  text-transform: uppercase;
}
section {
  display: flex;
  height: 35rem; /* TODO update layout to proper hight*/
  text-align: center;
  justify-content: center;
}

.box {
  flex: 1;
  /* border: 1px solid #000; */
  display: flex;
  justify-content: center;
}
.advertise{
  height: 25vh;
  margin: auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.advertise>h2,p,h4{
  width: 60%;
}
.advertise>h2, .advertise>h4{
  font-family: 'Fraunces', serif;
}
.advertise>h2{
  font-size: 2rem;
  font-weight: bolder;
}
.advertise>h4{
  text-decoration: underline pink 8px;
  text-transform: uppercase;
  font-size: medium;
  font-weight: 700;
  /* border-bottom: solid violet 8px; */
}
.advertise>p{
  color: hsl(232, 10%, 55%);
  font-family: Barlow;
}
.pic{
  width: 100%;
  height: 100%;
}
.yellow{
  background-image: url("../images/desktop/image-transform.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: hsl(50 , 99%, 50%);
}
.red{
  background-image: url("../images/desktop/image-stand-out.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: hsl(7, 99%, 70%) ;
}
.graphic,.photography{
  width: 50%;
  height: 35rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.graphic>h3,.photography>h3{
  padding: 3%;
  color: hsl(198, 62%, 26%);
  font-family: 'Fraunces', serif;
  font-size: 2rem;
  font-weight: 900;
}
.graphic>p,.photography>p{
  padding: 3%;
  color: hsl(198, 62%, 26%);
  font-family: Barlow;
  /* font-size: ; */
}
.graphic{
  background-image: url("../images/desktop/image-graphic-design.jpg");
}
.photography{
  background-image: url("../images/desktop/image-photography.jpg");
}

.clients {
  height: 40rem;
  /* padding-top: 20%; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.card-container {
  display: flex;
}
.card{
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.card>img{
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
.random_pics{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.random_pics>img{
  width: 25%;
}
footer{
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: hsl(167, 32%, 32%);
  background-color: hsl(167, 44%, 70%); 
}
footer>h1{
  font-family: Barlow;
  font-weight: 900;
}
.footer_nav>ol>li>a{
  color: hsl(167, 32%, 32%);
  font-family: Barlow;
  font-weight: 600;
}