* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
ul {
  display: flex;
  list-style: none;
}
ul li {
  padding: 1rem;
}
main {
  width: 100%;
}
.head {
  width: 100%;
  height: 60vh;
  text-align: center;
}
section {
  display: flex;
  height: 50vh; /* TODO update layout to proper hight*/
  text-align: center;
  justify-content: center;
}

.box {
  flex: 1;
  border: 1px solid #000;
  display: flex;
  align-items: center;
}

section.clients {
  flex-direction: column;
}
.card-container {
  display: flex;
}
